fieldset{
    width: 20%;
    form{
        #numberOne{
            width: 100%;
        }
        #numberTwo{
            width: 100%;
        }
     #bTn{
    display: block;
    width: 100%;
}  
p{
    text-align: center;
} 
    }
}
